/* Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  user-select: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0px;
  color: white;
  font-weight: bold;
  background-color: #555;
}

button {
  background-color: #f4810e;
  color: black;
}

button .icon {
  color: black;
  vertical-align: middle;
  height: 20px;
  margin-right: 4px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #05090a;
  color: white;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.root {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #141311;
  display: flex;
  gap: 8px;
  align-items: center;
  padding-right: 8px;
}

header>.logo {
  max-height: 40px;
}

header>h1 {
  font-size: 25px;
  line-height: 0.9em;
  padding: 0.1em 0 0.25em;
}

header>.title {
  flex: 1;
}

header>.title>.subTitle {
  color: #bbb;
  font-weight: normal;
}

/* Hide the scrollbar */
main::-webkit-scrollbar, .options::-webkit-scrollbar {
  display: none; /* WebKit */
}
main, .options {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main>h1 {
  overflow: hidden;
  text-align: center;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: normal;
  color: #888;
  margin-top: 16px;
}


.item {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding: 4px;
  gap: 8px;
  white-space: nowrap;
  background: #ffffff09;
  border-top: 2px solid #ffffff09;
  border-bottom: 2px solid #ffffff09;
}


.item>h2, .grid h2 {
  font-size: 120%;
  flex: 1 0 auto;
  font-weight: normal;
}
.item>h2.link {
  padding: 0 4px;
  font-weight: bold;
}

.item>p {
  flex: 1;
  margin: 0;
}

.options {
  display: flex;
  align-items: center;
  overflow-y: auto;
  gap: 8px;
}

.options>* {
  flex: 0 0 auto;
}

@media screen and (min-width: 501px) {
  .root {
    box-shadow: 0 0 256px #f4810e20;
  }
}

.link {
  cursor: pointer;
  border-radius: 4px;
}

.link:hover {
  background: repeating-linear-gradient(45deg, #ffb06000 0px, #ffb06000 4px, #ffb06030 5px, #ffb06030 9px);
}
 
.link:active {
  background: repeating-linear-gradient(45deg, #ffb06000 0px, #ffb06000 4px, #ffb06060 5px, #ffb06060 9px);
}


.circle,
.squircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #333;
  padding: 0;
  transition: background-color 500ms;
  background-color: black;
  cursor: pointer;
  flex-shrink: 0;
}

.squircle {
  border-radius: 25%;
}

main>p {
  margin: 8px;
}

.wheel {
  position: relative;
}

.handle {
  position: absolute;
  transition: "all 0.1s";
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #000 inset;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  width: 24px;
  cursor: pointer;
  color: #f4810e;
}

.icon.on {
  color: #fb3403;
}

.item > .icon:first-child {
  width: 32px;
}

h1 > .icon {
  vertical-align: middle;
  margin-left: 8px;
}

.banner {
  background-color: #f4810e;
  display: flex;
  color: black;
  border-top: 2px solid black;
}

.banner > p {
  flex: 1;
}

.banner > * {
  margin: 8px;
}

.banner .icon {
  color: black;
}

.empty {
  padding: 1em;
  text-align: center;
  background-color: #f4810e20;
}

label.checkbox {
  margin: 8px;
  gap: 8px;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 8px;
  margin: 8px;
}

.grid > * {
  border-radius: 4px;
  text-shadow: 2px 2px 4px #000;
  padding: 5px 8px;
  white-space: nowrap;
  line-height: 1.5em;
}

.grid > * > .options {
  margin-top: 4px;
}

.grid > .bright {
  color: black;
  text-shadow: 2px 2px 4px white;
}

.grid > .off {
  color: #888;
}

.grid svg {
  filter: drop-shadow(2px 2px 4px black);
  color: inherit;
  height: 28px;
  width: auto;
}

.grid > .bright svg {
  color: black;
  filter: drop-shadow(2px 2px 4px white);
}


.mainContainer {
  flex: 1;
  position: relative;
  overflow: hidden;
}

main {
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 2;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(-45deg, #141311 0px, #141311 4px, #2d1803 5px, #2d1803 9px);
}

main.fadeOut {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
main.fadeOut * {
  transition: visibility 0.2s ease-out;
  visibility: hidden;
}

main.forward, main.push {
  transform: translateX(100%);
}

main.back {
  transform: translateX(-100%);
}

main.load {
  opacity: 0;
}